#main-navbar {
  background-color: blue;
  overflow: hidden;   
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  left: 50;
  right: 50%;
 
}

#main-navbar ul {
  list-style-type: none;
  position: relative;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a {
  display: block;
  float: left;
  positive: relative;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  

#onpage {
  
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
  list-style-type: none;
  padding: 0;
}

#sidebar-container {
  display: block;
  background-color: #000;
}

#sidebar ul li {
  text-align: center;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  
}
